---
import Icon from 'node_modules/astro-icon/components/Icon.astro';
---

<footer>
  <div class='border-0.5 mt-15 border-t border-zinc-400'></div>
  <div class='mb-4 flex items-center justify-between px-2 pt-2 text-sm text-zinc-400'>
    <div class='flex w-full items-center gap-2'>
      <span>© 2025 Joe Bashour</span>
      <div class='flex items-center gap-2'>
        <a href='https://www.linkedin.com/in/joebashour/' target='_blank' rel='noopener noreferrer'>
          <Icon name='fa7-brands:linkedin' size='1.25rem' class='hover:text-[#2867B2]' />
        </a>
        <a href='https://github.com/TheSandSmith' target='_blank' rel='noopener noreferrer'>
          <Icon name='fa7-brands:github' size='1.25rem' class='hover:text-[#24292F]' />
        </a>
        <a href='https://bsky.app/profile/joebashour.bsky.social' target='_blank' rel='noopener noreferrer'>
          <Icon name='fa7-brands:bluesky' size='1.25rem' class='hover:text-[#1185FE]' />
        </a>
      </div>
    </div>
    <a href='/slashes' class='hover:text-zinc-600 hover:underline hover:underline-offset-2'> /slashes </a>
  </div>
</footer>
